
.rss-feed {
    
    min-height: 100vh;
    .loading, .no-items {
        
        min-height: 100vh;
        h3 {
            line-height: 100vh;
            text-align: center;
        }
    }

    &.rss-photo-feed .card {
        small {
            
            padding: 5px;
            position: absolute;
            top: -8px;
            right: 0px;
            color: white;
            background-color: rgba(0,0,0,0.5);
            border-radius: 0 5px 0 0;
            z-index: 2;
        }

        div {
            
            overflow: hidden;
            img {
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .bookmark {
            position: absolute;
            left: 5px;
            top: 5px;
            color: black;

            &:hover {
                color: gold;
                cursor: pointer;
            }
        }

        .bookmark.selected {
            color: gold;

            &:hover {
                color: black;
            }
        }
    }
}


@import "../../node_modules/bootstrap/scss/bootstrap";