$gray_darkmode: rgba(255, 255, 255, 0.55);

.header {

    .buttons-container {
        
        @media (max-width: 991px) {
            i, svg {
                display: none;
            }
        }
        @media (min-width: 991px) {
            span {
                display: none;
            }
        }
    }
    .navbar-nav {
        .active {
            font-weight: bold;
        }
    }
}

.loading, .no-items {

    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    @media (max-width: 991px) {
        span {
            font-size: 8vw;
        }
    }
}

.footer {
    @media (max-width: 768px) {
        div.text, div.icons {
            text-align: center;
        }
        div.icons {
            margin-top: 1em;
        }
    }
    @media (min-width: 769px) {
        div.text {
            text-align: left;
        }
        div.icons {
            text-align: right;
        }
    }
}

.rss-news-feed {
    
    min-height: 80vh;
    
    .card {
        small.date {
            
            padding: 5px;
            position: absolute;
            top: -8px;
            right: 0px;
            color: white;
            background-color: rgba(0,0,0,0.5);
            border-radius: 0 5px 0 0;
            z-index: 2;
        }

        small.site {
            position:absolute;
            bottom: var(--bs-card-spacer-y);
        }

        div {
            
            overflow: hidden;
            img {
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .bookmark {
            position: absolute;
            left: 5px;
            top: 5px;
            color: black;

            &:hover {
                color: gold;
                cursor: pointer;
            }
        }

        .bookmark.selected {
            color: gold;

            &:hover {
                color: black;
            }
        }
    }
    
    img.card-img-top {
        width: 100%;
        @media (max-width: 991px) {
    
            height: 50vw;
            object-fit: cover;
            object-position: top;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
    
            height: 25vw;
            object-fit: cover;
            object-position: top;
        }
        @media (min-width: 1400px) {
    
            height: 10vw;
            object-fit: cover;
            //object-position: top;
        }
    }
}

.rss-photos-feed {

    @media (min-width: 1200px) {
    
        margin: 0 auto;
        width: 80hv;
        
        .image-gallery-content {
            .image-gallery-slide {

                .image-gallery-image {
        
                    max-height: calc(70vh)!important;
                }
            }
            &.fullscreen {

                .image-gallery-slide {

                    .image-gallery-image {
            
                        max-height: calc(100vh)!important;
                    }
                }
            }
        } 
    }
}

.configuration {

    .rss-sources {
        
        .item {
            border-bottom: solid 1px $gray_darkmode;
            
            a {
                text-decoration: none;
            }
        }
    }
}

.dark-mode {

    background-color: black;
    color: white;

    .header nav {
        background-color: black!important;
        border-bottom: solid 1px $gray_darkmode;
    }

    .footer {
        border-top: solid 1px $gray_darkmode!important;
        a {
            color: white!important;
        }
    }

    .rss-news-feed {
        .card {
            background-color: black;
            border: solid 1px $gray_darkmode;

            .bookmark {
                color: $gray_darkmode;
                &:hover, &.selected {
                    color: gold;
                }
            }
        }

        select {
            background-color: black;
            color: white;
            border: solid 1px $gray_darkmode;
        }
    }

    .configuration {
        .rss-sources {
            a {
                color: white!important;
            }
        }
    }

    .pagination {
        
        button.page-link {
            background-color: black;
            color: white;

            &.active {
                background-color: white;
                color: black;
                border-color: white;
            }
        }
        .page-item.disabled {
            .page-link {
                background-color: rgba(255, 255, 255, 0.55);
            }
        }
    }
}

@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";